@import 'src/styles/element-variables';
@import 'element-ui/packages/theme-chalk/src/common/var.scss';
// 关于表格相关的自定义样式
.filter-container {
  padding: 10px 10px 20px 10px;
  background-color: $--app-container-background-color;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }

  .filter-item-first-condition {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 10px 0px;
  }

  .filter-item-condition {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 10px 40px;
  }

  .filter-item-input {
    width: 200px;
  }

  .filter-btn-first {
    margin: 0px 10px 10px 20px;
  }

  .filter-btn {
    margin: 0px 10px 10px 10px;
  }
}

.filter-empty-container {
  height: 56px;
}

.el-dropdown-item--click{
  background-color: #ecf5ff;
  color: #66b1ff;
}

.el-table-tool{
  width: 100%;
  padding: 9px 17px;
  border-top: 1px solid $--border-color-lighter;
  border-left: 1px solid $--border-color-lighter;
  border-right: 1px solid $--border-color-lighter;
  background: $--my-table-header-background-color;
  position: relative;
  .left-tool{
    display: inline-block;
  }
  .right-tool{
    display: inline-block;
    right: 17px;
    position: absolute;
    .right-tool-btn-tooltip{
      &:not(:nth-last-child(1)){
        margin-right: 10px;
      }
    }
    .right-tool-btn{
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background-color: $--my-table-header-background-color;
      border: 1px solid $--border-color-lighter;
      position: relative;
      &:hover{
        cursor: pointer;
      }
      i[class^="el-icon"]{
        width: 16px;
        height: 16px;
        padding: 7px;
        font-size: 16px;
        color: $--color-text-regular;
      }
    }
  }
}
// 表格
.el-table {
  width: 100%;
  //height: 650px; // 高度合适的固定高度
  border: 1px solid #dfe6ec !important; // 解决加loading后，遮罩隐藏边框的问题
  &::before {
    height: 0px;
  }
  .warning-row {
    //background: oldlace!important;
  }
  .success-row {
    //background: #e5fae2!important;
  }
  .el-table__fixed, .el-table__fixed-right{
    height: 100% !important; //设置高优先，以覆盖内联样式
    &::before {
      height: 0px; // 去掉底部的边框
    }
  }
  th {
    &:nth-last-child(1){
      border-right: none !important;
    }
  }
  //最后一个tr去掉下边框
  tr{
    &:nth-last-child(1){
      td{
        border-bottom: none !important;
      }
    }
    td{
      &:nth-last-child(1){
        border-right: none !important;
      }
    }
  }

  span.caret-wrapper{
    font-size: 12px !important;
    height: 23px !important;
    margin-top: 0px;
    position: absolute;
    .sort-caret.descending{
      bottom: 0px !important;
    }
    .sort-caret.ascending{
      top: 0px !important;
    }
  }

  .el-table__body-wrapper{
    .el-table__body{
      tbody{

        .el-table__row{
          .cell{
            .el-tag{
              // 第二个元素开始
              &:nth-child(n+1){
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }

}

// 分页组件
.el-pagination {
  text-align: center;
  height: 43px;
  padding-top: 15px !important;
  background-color: $--app-container-background-color;
  .el-pager{
    li {
      min-width: 28px;
      height: 28px;
    }
    li[class~="active"] {
      background-color: $--color-primary;
      color: $--color-white;
      border-radius: 50%;
    }
  }
}

.el-table--border th:first-child .cell, .el-table--border td:first-child .cell{
  padding: 0;
}
